<!-- <DashboardComponent></DashboardComponent> -->
<article class="dashbooard-package-container">
  <div>
    <h3>Gói học của bạn</h3>
  </div>

  <section class="dashbooard-package">
    <div class="card-package">
      <div class="card-package-header">
        <div class="card-package-header-name">
          <span class="card-package-header-title">ELSA Free</span>
          <p>Chỉ sử dụng được một số tính năng.</p>
        </div>
      </div>

      <div class="card-package-body">
        <div class="card-package-body-content">
          <div class="card-package-body-label">
            <h4>Nâng cấp lên ELSA Pro ngay</h4>
          </div>
          <button nz-button nzType="primary" nzShape="round" class="card-button-upgrade" type="submit">
            Tiếp tục
          </button>
        </div>
      </div>
    </div>
  </section>
</article>
