<div class="Page_root">
    <div>
        <h1 class="Page_title">Hóa đơn</h1>
    </div>
    <article class="Section_root">
        <section class="Section_children_hd">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Mã số hóa đơn</th>
                        <th>Giá tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/01/2021</td>
                        <td>ELSA1298762999-01</td>
                        <td>99.000Đ</td>
                        <td><a class="detail_bill_a" routerLink="/home/receipt-detail">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>01/01/2021</td>
                        <td>ELSA1298762999-01</td>
                        <td>99.000Đ</td>
                        <td><a class="detail_bill_a" routerLink="/home/receipt-detail">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>01/01/2021</td>
                        <td>ELSA1298762999-01</td>
                        <td>99.000Đ</td>
                        <td><a class="detail_bill_a" routerLink="/home/receipt-detail">Chi tiết</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
</div>
