.side-bar-container {
  background-color: #222326;
  height: 100%;
}

.title_menu {
  text-align: center;
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 16px;
  margin-top: 5px;
}

.fa-chevron-down {
  margin-top: 5px;
}
