<div class="Page_root">
    <div>
        <h1 class="Page_title">Đổi mật khẩu của bạn</h1>
    </div>
    <div class="form_edit">
        <form action="" method="POST">
            <div class="form_group">
                <span class="Title chil">Mật khẩu hiện tại</span>
                <div class="Input_name chil">
                    <input type="password" placeholder="************" value="" required="">
                </div>
            </div>
            <div class="form_group">
                <span class="Title chil">Mật khẩu mới</span>
                <div class="Input_name chil">
                    <input type="password" placeholder="************" value="">
                </div>
            </div>
            <div class="form_group">
                <span class="Title chil">Nhập lại mật khẩu mới</span>
                <div class="Input_name chil">
                    <input type="password" placeholder="************" value="">
                </div>
            </div>
            <div class="form_group btn_group">
                <span class="Title chil"></span>
                <div class="Input_name chil">
                    <button class="btn_cancle">Hủy</button>
                    <button class="btn_submit" onclick="body_active()">Lưu Mật Khẩu</button>
                </div>
            </div>
        </form>
    </div>
</div>
