<div class="Page_root">
    <div>
        <h1 class="Page_title">Đổi mã code</h1>
    </div>
    <div>
        <h4 class="h4_text_code">Nhập mã code ở mặt sau của thẻ quà tặng của bạn,</h4>
        <h4>hoặc nhập mã code từ tin nhắn mua hàng của bạn.</h4>
    </div>
    <div class="form_edit form_code">
        <form id="formBox_redem" action="" method="POST">
            <div class="form_group">
                <span class="Title Title_code">Nhập mã code của bạn</span>
                <div class="Input_name Input_code">
                    <input id="code_redem" type="text" name="code_redem" placeholder="Nhập mã code của bạn" required="">
                </div>
            </div>
            <div class="form_group btn_group btn_code">
                <div class="Input_code_btn">
                    <button onclick="body_active()" class="btn_submit_code">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>
