<div class="Page_root">
    <div>
        <h1 class="Page_title">Chi tiết hóa đơn <span class="code">ELSA1298762999-01</span></h1>
    </div>
    <article class="Section_root" style="margin-top: 25px;">
        <section class="Section_children">
            <table class="Table_Element">
                <colgroup>
                    <col class="sc-ezrdKe bAYFRD">
                    <col class="sc-ezrdKe bAYFRD">
                </colgroup>
                <tbody>
                    <tr class="TableRow">
                        <td class="TableRow_1">Ngày</td>
                        <td class="TableRow_2">01 tháng 3, 2021</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Mã số hóa đơn</td>
                        <td class="TableRow_2">ELSA1298762999</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Phương thức thanh toán</td>
                        <td class="TableRow_2">Momo (0900 000 000)</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Nhà cung cấp</td>
                        <td class="TableRow_2">ELSA Speak Việt Nam</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Địa chỉ</td>
                        <td class="TableRow_2">29/11 Bùi Thị Xuân, phường 2, quận Tân Bình, thành phố Hồ Chí Minh, Việt
                            Nam</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Mã số VAT</td>
                        <td class="TableRow_2">SE556703748501</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Sản phẩm</td>
                        <td class="TableRow_2">Gói ELSA Pro 1 tháng</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Thuế</td>
                        <td class="TableRow_2">0Đ</td>
                    </tr>
                    <tr class="TableRow">
                        <td class="TableRow_1">Tổng cộng</td>
                        <td class="TableRow_2">99.000Đ</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
</div>
