.TableRow_1 {
  color: #a39f9f;
  padding: 1em 1em 1em 0px;
  white-space: nowrap;
}

.TableRow {
  border-bottom: 1px solid var(--decorative-subdued, #dedede);
}

.TableRow_2 {
  padding: 1em 1em 1em 0px;
  max-width: 220px;
}

.Table_Element {
  border-collapse: collapse;
  max-width: 100%;
  text-align: left;
  width: 100%;
  margin-top: 15px;
}
