.dashboard-profile-container {
  margin-top: 50px;
}

.table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin-top: 15px;
  margin-right: 0;
}

.table-column-group {
  width: 100%;
  display: table-column-group;
}

.table-body {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-row {
  border-bottom: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-column {
  flex: 1;
}

.row-label {
  color: #a39f9f;
  padding-top: 1em;
  padding-bottom: 1em;
  white-space: nowrap;
  font-size: 16px;
}

.row-value {
  font-size: 16px;
}
