<article class="dashboard-profile-container">
  <div class="dashboard-profile-title">
    <h3>
      Thông tin tài khoản
      <a class="edit_account_btn" routerLink='change-profile'>
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>
    </h3>
  </div>

  <section class="dashboard-profile-body">
    <table class="table">
      <colgroup class="table-column-group">
        <col class="" />
        <col class="" />
      </colgroup>
      <tbody class="table-body">
        <tr class="table-row">
          <td class="table-column row-label">Username</td>
          <td class="table-column row-value">Khai.nguyen</td>
        </tr>
        <tr class="table-row">
          <td class="table-column row-label">Email</td>
          <td class="table-column row-value">17520605@gm.uit.edu.vn</td>
        </tr>
        <tr class="table-row">
          <td class="table-column row-label">Date of birth</td>
          <td class="table-column row-value">May 15, 1999</td>
        </tr>
        <tr class="table-row">
          <td class="table-column row-label">Country or region</td>
          <td class="table-column row-value">Vietnam</td>
        </tr>
      </tbody>
    </table>
  </section>
</article>
