.home-container {
  display: flex;
  flex-direction: row;
  height: max-content;
  min-height: 100vh;
}

.home-content-container {
  background-color: #fff;
  flex: 3;
  padding: 5%;
}

.home-sidebar {
  flex: 1;
}
