[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
fastapi = "*"
uvicorn = "*"
sentry-sdk = "*"
aiofiles = "*"
sentry-asgi = "*"
celery = "*"
aiohttp = "*"
boto3 = "*"
botocore = "*"
stripe = "*"
arrow = "*"
pycrypto = "*"
gevent = "*"
greenlet = "*"
starlette-context = "*"
redis = "*"
importlib-metadata = "*"
cached-property = "*"
python-multipart = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
